@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.project-feed {
  &__photo {
    display: inline-block;
    margin-bottom: 0;
    background-clip: padding-box
  }

  &__header_photo {
    display: inline-block;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-right: 25px;
  }

  &__horizontal-item {
    display: inline;
    margin-bottom: 0;
    background-clip: padding-box
  }

  &__item {
    @include margin-bottom(1.25);
    //padding: 15px;
  //  padding-left: 20px;
    //padding-right: 20px;
    //border-radius:5px;
    //border: 2px solid #F1F5F8;
    //box-shadow:1px 2px 10px rgba(0, 0, 0, 0.03);

    &:last-child {
      @include margin-bottom(.5);
    }

    &-title {
      font-size: $typographic-base-font-size * 1.6875;
      @include line-height(1.5);
      @include margin-top(0);
      @include margin-bottom(.5);

      &-link {
        color: $color-base;

        &:hover,
        &:focus {
          color: $color-base;
          border-bottom: 1px solid $color-base;
        }

      }

    }

    &-description {
      font-size: $typographic-base-font-size;
      @include line-height(1);
      @include margin-bottom(.75);
    }

    &-meta {
      &-horizontal_image {
        display: inline-flex;
        vertical-align: middle
      }

      &-time {
        font-size: $typographic-small-font-size;
        color: $color-base;
        font-weight: 600;
        text-transform: uppercase;
      }

      &-divider {
        margin: 0 5px;
      }

      &-category {
        &-link {
          font-size: $typographic-small-font-size;
          color: $color-secondary;
          font-weight: 600;
          text-transform: uppercase;

          &:hover,
          &:focus {
            color: $color-primary;
          }

        }

      }

    }

    &-readmore {
      font-size: $typographic-base-font-size;
      color: #02245b;
      border-radius: 4px;
      padding: 7px;
      padding-right: 11px;
      padding-left: 11px;
      background-color: $color-primary;

      &:hover,
      &:focus {
        color: #02245b;
        background-color: $color-primary-light;
      }

    }

  }

}
