@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.sourcecode {
  font-size: $typographic-small-font-size;
  color: $color-primary;

  &__icon {
    vertical-align: text-bottom;
  }
}
